* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-color: #000000;
    /* background-color: dimgrey; */
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    width: 100%;
    max-width: 1920px;
    max-height: 100%;
    max-height: 1080px;
}

a {
    text-decoration: none;
    /* color: inherit;  */
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    /* max-width: 1200px;
    width: 100%; */
    /* margin: 0 auto; */
    padding: 0 0;
}

/* Header Start */

.main-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: +1;
}

.header-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.3);
}

.header-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.top-nav, .main-nav-list {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 20px;
}
.header-logo-img {
    height: 50px;
    width: 70px;
    padding-bottom: 5px;
}

li a {
    font-size: medium;
}

li a:hover {
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

/* Top Area with header image */

#top-area {
    background-image: url(./images/images/main-section-bg-img.jpg);
    
    background-size: cover;
    background-position: center;
    min-height: 875px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 120px 20px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    align-self: self-start;
    padding: 20px 20px;
}

.btn-yellow {
    background-color: yellow;
    color: black;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
}

.hero-content h1 {
    font-size: 3rem;
}

/* Feature Section Start */

.features-container {
    display: flex;
    align-items: center;
    gap: 25px;
    /* background-color: gray; */
    margin: 50px 0px;
    align-self: center;
}
.feature-img {
    /* width: 100%; */
    max-width: 2000px;
    padding: 25px;
    align-items: center;
}
.feature-text {
    font-size:xx-large;
}

/* Domain Section Start */

#domain {
    padding: 25px;
}

.academy-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
}

.domain-img {
    height: 300px;
    width: 400px;
}
.domain-img-container, p {
    font-size: larger;
}
.explore-btn {
    color: black;
    background-color: yellow;
    height: 35px;
    width: 150px;
    border-radius: 50px;
    border: none;
}

/* Services Section Start */

#services {
    padding:  25px;
}
#services ul {
    list-style-type: circle; 
    padding-left: 30px;      
    margin-top: 15px;        
}

#services ul li {
    margin-bottom: 8px;
}


/* Partner Section Start */

#partners {
    background-color: white;
    padding: 50px;
}
#partners h1 {
    color: black;
    /* padding-top: 50px; */
}
.parterns-conatiner {
    /* background-color: #ccc; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding-bottom: 60px;
}
.parterns-logo {
    border: gray 1px solid;
    color: black;
    justify-self: center;
    padding: 50px 80px;

}

/* Subscribe Section Start  */
.subscribe-for-updates{
    text-align: center;
    padding: 100px;
}

.subscribe-btn {
    color: black;
    background-color: yellow;
    height: 35px;
    width: 150px;
    border-radius: 50px;
    border: none;
    margin-top: 15px;
}

/* Footer Sction */

.footer-main {
    background-color: black;
    color: #ccc;
    padding-left: 80px;
    padding-right: 80px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 50px; */
}
.footer-middle {
    Display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 0%;
}
.footer-bottom {
    Display: flex;
    align-self: flex-start;
    gap: 30px;
    padding: 15px;
    padding-left: 0px;
    font-size: x-small;
    color: #ccc;
}

.social-icon {
    align-self: flex-end;
    margin-bottom: 10px;
}
.bottom-img {
    height: 70px;
    width: 80px;
}
#copy-rights {
    font-size: 10px;
}